<html>
   <body>
      <h1>Blockchain Transactions:</h1>
      <form action = "/mine" method = "POST">
		<label for="name">Transaction 1:</label>
		<input type="text" id="transaction1" name="transaction1" size="20"><br>   	
		<label for="name">Transaction 2:</label>
		<input type="text" id="transaction2" name="transaction2" size="20"><br>      	
		<label for="name">Transaction 3:</label>
		<input type="text" id="transaction3" name="transaction3" size="20"><br><br>
		<input type="submit" value="Add Transactions and Mine the Blockchain">	
      </form>
   </body>
</html>